.App {
  height: 100vh;
  text-align: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.sectionOne {
  height: 100vh;
  background-color: red;
  scroll-snap-align: start;
}

.sectionTwo {
  height: 100vh;
  background-color: blue;
  scroll-snap-align: start;
}

.sectionThree {
  height: 100vh;
  background-color: green;
  scroll-snap-align: start;
}